<% @addresses = try_spree_current_user ? user_available_addresses : [] %>

<% if !try_spree_current_user || try_spree_current_user.email.blank? %>
  <div class="row">
    <div class="col-12 mb-4">
      <p class="form-group checkout-content-inner-field">
        <%= form.label :email, class: 'text-uppercase' %>
        <span class="required">*</span>
        <br />
        <%= form.email_field :email, class: 'required spree-flat-input', required: true %>
      </p>
    </div>
  </div>
<% end %>

<div class="row">
  <% ['billing'].each do |address_type|
    address_name = "#{address_type[0...4]}_address" %>
    <div class="col-12 mb-4" data-hook="<%= address_type %>_fieldset_wrapper">
      <div id="<%= address_type %>" data-hook>
        <h5 class="text-uppercase checkout-content-header">
          Dirección de envío
        </h5>
        <%= form.fields_for address_name do |address_form| %>
          <div class="inner checkout-content-inner" data-hook=<%="#{address_type}_inner" %>>
            <%= render partial: 'spree/addresses/form', locals: {
              address_name: address_name,
              address_form: address_form,
              address_type: address_type,
              address: Spree::Address.default,
              form: form
            } %>
            <p class="text-right text-uppercase checkout-content-inner-field">*Campos Requeridos</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= hidden_field_tag 'save_user_address', true, data: { hook: "save_user_address" } %>
</div>

<div id="delete-address-popup" class="delete-address-popup-dropdown hide-on-esc">
  <%= render 'spree/shared/delete_address_popup' %>
</div>
