<div class="container text-center mb-5">
  <div id="no-taxon-banner">
    <div class="mt-2">
      <%= lazy_image(
      src: asset_path('homepage/bannerus.png'),
      alt: 'products-banner',
      width: 1110,
      height: 300,
      class: 'w-100 d-none d-md-block'
      ) %>
    </div>
  </div>
  <div class="container px-5 my-5">
    <div class="row my-5">
      <div class="col-md-6">
        <h5>La Cuadrilla es un espacio que cuenta con una librería y cafetería para realizar talleres, reuniones y presentaciones de libros. Inauguramos el 12 de diciembre del 2019.</h5>
      </div>
      <div class="col-md-6">
        <h5>Pretendemos ser un espacio de encuentro para lectores. Nuestro catálogo está orientado hacia las ciencias sociales y humanidades, particularmente al pensamiento crítico.</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= image_tag("homepage/illustration01.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration02.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration03.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration04.jpg", class: "imgs") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag("homepage/illustration05.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration06.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration07.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration08.jpg", class: "imgs") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag("homepage/illustration09.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration10.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration11.jpg", class: "imgs") %>
      </div>
      <div class="col-md-3">
        <%= image_tag("homepage/illustration12.jpg", class: "imgs") %>
      </div>
    </div>
  </div>
</div>
